
@using WebApp.Models
@model SubsystemMnemo

@{ 
    string SubmitName = ViewBag.SubmitName ?? "Сохранить";
    string titleForm = ViewBag.titleForm ?? "Модуль";

}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "modal-content", role = "form", id = "form-type" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <h5 class="modal-title">@titleForm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    @Html.HiddenFor(model => model.id_subsystem, new { htmlAttributes = new { @class = "form-control form-control-sm" } })

    <div class="form-horizontal container one-column-form">
        

        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
             
            </div>
        </div>
          
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div>
                <input type="submit" value="@SubmitName" id="submit-Btn" class="btn btn-primary" />
            </div>
        </div>
    </div>

}


